::ng-deep .mat-dialog-container {
  border-radius: 12px;
}

.button{
  border-radius: 12px;
  background-color: #b0b0b0;
  color: black;

}

.content{
  display: flex;
  gap:40px
}
.green{
  color: yellowgreen;
}
.yellow{
  color: yellow;
}

