
<h2 class="mat-display-1" style="text-align: center">Frameworks</h2>
<div class="button-container">


  <mat-card class="dis">
  <img src="assets/frameworks/angular.svg" alt="Logo">
  <mat-card-content>Angular</mat-card-content>
</mat-card>
  <mat-card class="dis">
    <img src="assets/frameworks/material.svg" alt="Logo">
    <mat-card-content>Angular Material</mat-card-content>
  </mat-card>
<mat-card class="dis">
  <img src="assets/frameworks/flutter.svg" alt="Logo">
  <mat-card-content style="padding-top: 5px">Flutter</mat-card-content>
</mat-card>
<mat-card class="dis">
  <img src="assets/frameworks/color.png" alt="Logo">
  <mat-card-content>Gin</mat-card-content>
</mat-card>
</div>
