
<h2 class="mat-display-1" style="text-align: center">Languages</h2>
<div class="button-container">
  <mat-card class="dis">
    <img src="assets/languages/cpp.png" alt="Logo">
    <mat-card-content>C++</mat-card-content>
  </mat-card>
  <mat-card class="dis">
    <img src="assets/languages/icons8-python-550.svg" alt="Logo">
    <mat-card-content style="padding-top: 5px">Python</mat-card-content>
  </mat-card>
  <mat-card class="dis">
    <img src="assets/languages/icons8-javascript.svg" alt="Logo" style="border-radius: 10px">
    <mat-card-content>Javascript</mat-card-content>
  </mat-card>
  <mat-card class="dis">
    <img src="assets/languages/icons8-typescript.svg" alt="Logo" style="border-radius: 10px">
    <mat-card-content>Typescript</mat-card-content>
  </mat-card>
  <mat-card class="dis">
    <img src="assets/languages/st,small,507x507-pad,600x600,f8f8f8.u5.jpg" alt="Logo" style="border-radius: 10px">
    <mat-card-content>Golang</mat-card-content>
  </mat-card>
  <mat-card class="dis">
    <img src="assets/languages/icons8-dart.svg" alt="Logo" style="border-radius: 10px">
    <mat-card-content>Dart</mat-card-content>
  </mat-card>
</div>
