<div *ngIf="show_ip">
  <div class="background-div">
  <mat-card>
    <p class="mat-display-1" style="font-size: 23px">Internship at</p>
    <div class="logo">
      <img src="assets/header/images/logo.png" alt="Company Logo">
    </div>
  </mat-card>
  <br>

  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="button-toggle-group" [(ngModel)]="selectedValue">
    <mat-button-toggle value="create" class="custom-button" (click)="onAddEntry()">Create New Entry</mat-button-toggle>
    <mat-button-toggle value="show" class="custom-button" (click)="onShowEntry()">Show Existing Entries</mat-button-toggle>
    <div class="slider" [ngClass]="{'slide-create': selectedValue === 'create', 'slide-show': selectedValue === 'show'}"></div>
  </mat-button-toggle-group>



  <br>
  <br>
  <div *ngIf="create_entry">
    <mat-form-field>
      <input matInput [matDatepicker]="datepicker" [(ngModel)]="selectedDate" (dateChange)="onUpdateDate($event)">
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>

    <br>
    <mat-form-field>
      <mat-label>Day</mat-label>
      <input matInput (input)="onUpdateDay($event)">
    </mat-form-field>

    <br>
    <mat-form-field>
      <mat-label>Today's Tasks</mat-label>
      <textarea matInput (input)="onUpdateTask($event)"></textarea>
    </mat-form-field>
    <br>
    <button mat-raised-button [disabled]="!add_button_status" (click)="new_entry('New Entry Added', 'Close')">+</button>
  </div>
  <div *ngIf="show_entry">
    <div class="button-container">
      <div *ngFor="let item of updates; let i = index" >
        <mat-card class="dis">
          <button mat-stroked-button (click)="openDialog(i)" class="day-button">{{ item.day }}</button>
          <mat-card-content style="padding-top: 10px">{{ item.date }}</mat-card-content>
        </mat-card>
      </div>
    </div>

  </div>
</div>
</div>
